
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.darkmode{
  background-color:rgb(77, 77, 77);
}
.darkmode2{
  background-color:grey;
}

.btn-primary {
  background-color: grey !important;
  border-color: lightslategrey !important;
}

.input::placeholder {
  color: whitesmoke !important
}